<div class="content" scrollable (scrollPosition)="scrollHandler($event)">

    <p class="tag is-warning" *ngIf="pg.done | async">No more users to show</p>

    <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
        <tr *ngFor="let data of pg.data | async ">
           <th>{{ data.name }} </th>
           <th>{{ data.age }} </th>
        </tr>
    </table>


    <app-loading-spinner *ngIf="pg.loading | async"></app-loading-spinner>

    <div style="height: 1000px"></div>
</div>
